[2019-09-14 12:35] keithmifsud opened #1 "License information?"
Hi Andrez,

What is the License type/info on this code, please?

[2019-09-14 14:14] keithmifsud commented on #1
I'm asking so that I can see how I can contribute to your plugin :) I would like to add Disqus to the deferred scripts and I'm happy to do the work myself and merge on to your repo but obviously I will need to know the License info and your intentions.

[2019-09-14 14:17] keithmifsud commented on #1
I also wish to make it easier to include in a gatsby site. I'm thinking of a similar way as Helmet works. So, I might need to build a separate plugin that depends on your but again no License file, means no license to extend.

[2019-09-15 06:42] keithmifsud commented on #1
Hi Andrez, never mind as I'll be building a library myself due to other outgoing requests such as badge.ury.io <-- so annoying that they use tracking cookies too :-1:

[2019-09-15 06:42] #1 closed

[2019-09-28 16:10] steinroe opened #2 "Events"
Hi,

thanks for this great plugin! How can I use it to trigger events, such as with `react-facebook-pixel`?

[code]

Thanks in advance!

[2019-10-04 18:22] steinroe commented on #2
Found it out - fpq gets attached to the window and can be used from there

[2019-10-04 18:22] #2 closed

[2019-11-20 14:37] romixch opened #4 "Initialize as soon as user accepts consent"
Thanks for your nice gatsby plugin! It is very convenient. But there is something that would make it even nicer:

Google Analytics is only activated when the user visits the page the second time.  Until then ReactGA reports following warning in the console:
`ReactGA.initialize must be called first or GoogleAnalytics should be loaded manually`
Should the method ReactGA.initialize somehow be incorpo

[2019-11-26 09:02] Odelya opened #5 "Support allowAdFeatures for Google Analytics"
Google Analytics exposed a new property `allowAdFeatures` pls support it like in [google analytics](https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/)

[2019-12-29 19:18] andrezimpel commented on #4
Damn. That's true. The issue with that is that currently the GA script is loaded so it's ready whenever the user accepts the consent.

I'll investiage if there's a reliable way to do this all without requiring the script within the static html of gatsby.

[2019-12-29 19:19] andrezimpel commented on #5
I'm gonna include this asap. Or could you make a pr?

[2019-12-29 19:41] andrezimpel commented on #4
Do you have a code sample on this? Also which enviroment are you using?

[2020-01-29 07:47] jenkin opened #6 "[Feature Request] Cookie names customization"
First of all, thanks for this nice gatsby plugin! :)

I tried to use this plugin with [react-cookie-consent](https://www.npmjs.com/package/react-cookie-consent) to manage cookies, but hard-coded cookie names prevent an easy integration.

[This fork](https://github.com/Dataninja/gatsby-plugin-gdpr-cookies/tree/feature/cookie-names-customization) shows how to expose cookie names in plugin configurat

[2020-01-31 18:22] ajmalafif opened #7 "[Feature Request] How to disable fbevents.js when not using Facebook Pixel"
Getting this from lighthouse report although I am not using Facebook Pixel: https://build-065173fb-1c82-4813-b73a-28a5e25f30bc.gtsb.io/reports/lighthouse/index.html#seo

Let me know how I can help!

[2020-02-08 13:06] andrezimpel commented on #6
Thank you so much for your request! I just published v1.0.5 with custom cookie names!

[2020-02-08 13:06] #6 closed

[2020-02-08 13:10] andrezimpel commented on #4
@romixch I'm actually doing a reload of the page as soon as the user klicks the accept cookies button on the banner. What you could to is to initialize GA with the click on the button.

`ReactGA.initialize(options.googleAnalytics.trackingId);`

Maybe the plugin could also expose a function for this. Something like reinitialize. What do you think?

[2020-02-08 13:13] andrezimpel commented on #7
Maybe we could add this to the config. So if there is no FB tracking id it also won't be initialized. What do you say, @ajmalafif?

[2020-02-08 19:56] ajmalafif commented on #7
@andrezimpel hey yes if it's not too troubling for you that is. Make senses too given the nature of the plugin.

[2020-02-14 08:09] jenkin commented on #6
Please, let me know when v1.0.5 will be available on npm... :)

[2020-02-14 08:14] andrezimpel commented on #6
Damn yea, forgot to publish it on npm. It's on there now!

[2020-02-21 05:50] #7 closed

[2020-02-21 05:57] andrezimpel commented on #7
Closed by #8

[2020-02-28 02:37] thisizkp opened #9 "How to capture outbound links?"
Initially, I am using `gatsby-plugin-google-analytics` for the analytics setup. That library exposes a `OutboundLink` component to capture the outbound links. I think it makes sense to have something like that here too.

Thoughts?

[2020-02-28 04:38] thisizkp opened #10 "gaOptOut() is undefined"
I've added the package to the gatsby site and added the google analytics ID as mentioned in the docs. I'm also setting a cookie with a value true/false based on user action. I would like to give an option to the user so that he can opt-out from future tracking.

I found the following in the docs section. `<a href="javascript:gaOptout();">Deactivate Google Analytics</a>` which can be used for optin

[2020-03-09 22:40] ColdFire87 commented on #9
This plugin uses the `react-ga` npm module, which gives you access to `OutboundLink`.

[code]

See https://github.com/react-ga/react-ga#outboundlink-component

[2020-03-10 13:11] #9 closed

[2020-03-11 08:27] andrezimpel commented on #9
Gonna add this to the readme. Thanks @thisizkp

[2020-03-25 10:26] #4 closed

[2020-03-25 10:28] andrezimpel commented on #10
@thisizkp Please check our the updated readme. Since this plugin uses ReactGA you can use the [OutboundLink](https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies#google-analytics).

Does this help you?

[2020-03-25 10:51] thisizkp commented on #10
@andrezimpel Thanks, closing the issue.

[2020-03-25 10:51] #10 closed

[2020-03-26 12:09] hades200082 opened #12 "dataLayer doesn't update on route change"
The dataLayer contents don't re-evaluate on route change, only on a full page reload.

To allow sending of consents through dataLayer reliably it needs to update dataLayer when the page changes.

[2020-04-16 20:57] SimonKlausLudwig opened #13 "Add Google Ads"
First of all, Thank you for this great plugin. I just added it to my project and wanted to add Google Ads.

Can I just add it to the tracking Ids under google analytics. We don't use google tag manager atm.

[2020-04-21 11:21] freesh commented on #12
Same Problem here. We use it on a onepager. So the user comes to the Landignpage, accept the cookie, but isn't tracked. He must reload the whole page to get tracked.

[2020-04-24 14:41] theochp commented on #12
I fixed the issue by adding the following code to onAccept callback.

`onAccept={() => {
            if (typeof window !== 'undefined') { // window isn't defined during build
              window[gtmDatalayerName].push({ event: 'gatsbyRouteChange' })
            }
          }}
`
gtmDatalayer is created from an environment variable.

Its solves the issue without having to reload the page.

[2020-04-24 14:55] andrezimpel commented on #12
I am actually also using a reload. Currently the plugin does not know anything about a cookie banner or anything similar. It just enables tracking as soon as the cookies are set. So the UI part is really up to you. How should this work anyways? Should the initialization be not only checked on `onClientEntry` but also on every page load?

[2020-04-26 12:13] freesh commented on #12
@andrezimpel i think you're right. It shouldn't be the task of your plugin. It's an ui problem. So i will try the solution from @theochp. :)

[2020-05-21 15:11] alexmazza commented on #12
For google analytics I tried something like this:

`onAccept={() => {
					ReactGA.initialize('YOUR_TRACKING_ID');
					ReactGA.pageview(window.location.pathname + window.location.search);
				}}`
It works and doesn't reload the page. I'm not sure it's a good solution though.

[2020-05-25 05:08] andrezimpel commented on #12
I'm finished up another website this week where I still have to add the whole cookie consent thing. I will have a look at the matter and how to integrate a smooth solution. :-)

[2020-05-26 23:51] osseonews commented on #12
Have the same problem. Trying to use the solution above. But...
`I fixed the issue by adding the following code to onAccept callback.`
Where is this onAccept callback?

[2020-05-27 16:11] andrezimpel commented on #12
I guess this refers to the cookie consent plugin. Also the idea above will only initiate Google Analytics but not Facebook Pixel.

[2020-05-29 13:03] theochp commented on #12
You can improve the idea above by using the code in https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/blob/master/src/gatsby-browser.js

Copy-paste what you need on route change

[2020-06-18 03:58] ajmalafif opened #15 "cant locate how to fix “gatsby-gdpr-google-analytics-legacy”"
I noticed some bug on my cookie setting and noticed that my cookie name was `gatsby-gdpr-google-analytics-legacy` and trying to fix it in my codebase. I can‘t seem to locate it and need some pointers how to not use legacy. I hope this is related and I apologize if its not caused by `gatsby-plugin-gdpr-cookies`.

Thank you!

<img width="1131" alt="Screen Shot 2020-06-18 at 11 55 37" src="https://us

[2020-06-21 15:31] ajmalafif commented on #15
This was an issue with `react-cookie-consent` here: https://github.com/Mastermindzh/react-cookie-consent/issues/73

[2020-06-21 15:31] #15 closed

[2020-06-23 22:15] SimonScholz opened #16 "[react-ga] ReactGA.initialize must be called first or GoogleAnalytics should be loaded manually"
Hi guys,

I've installed your plugin and added my google analytics tracking id to the gatsby config.
But when I enter my website and set the cookie after I hit the accept button I receive this warning in the console:
`[react-ga] ReactGA.initialize must be called first or GoogleAnalytics should be loaded manually`
And unfortunately nothing is published to my Google Analytics Dashboard.
Am I missing

[2020-06-23 23:06] SimonScholz commented on #16
Found the answer here: https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/issues/4

[2020-06-23 23:06] #16 closed

[2020-06-25 17:30] ronpearl opened #17 "Is there ability to add other tracking services?"
We have added this plugin to our Gatsby site and currently it seems to work great. However, other sites we have worked on use different types of tracking systems along with GTM. Is there, or could there be added, a way to include other scripts to the process besides the 3 you have currently? Maybe a way to add a custom or pre-defined script to the optional loader as well?

[2020-06-25 18:45] andrezimpel commented on #17
Yea I was thinking about this actually. So it would be cool to define all services within the Gatsby confit and than also have a consent banner using this information.

Any suggestions on how to accomplish this? Otherwise I’ll have a look at this on Monday.

Sent from my iPhone

[2020-06-25 20:36] ronpearl commented on #17
I am not sure. I see where you are loading the options and then updating on route change, maybe you could have the ability to load in a JSON file with a script URL and maybe some attributes for the script?  So if a script URL is something like:

`<script type="text/javascript" defer src="//someurl.com/t/12334325"></script>`

Then we could load a JSON file with a format like:

[code]

This way it c

[2020-07-03 21:35] danny-waite opened #18 "Facebook Pixel Support"
Hi guys, been on a bit of a wild goose chase trying to get Facebook Pixel up and running, I'm probably doing something silly...

First up, I don't see a banner, initially I took it that I need to implement that myself and simply set `gatsby-gdpr-facebook-pixel` once the user accepts.  So I decided to use `react-cookie-consent` and set this cookie on the `onAccept` event, works to a point but I nee

[2020-07-04 07:45] andrezimpel commented on #18
Dear Danny

I actually started working on this right now. I'm adjusting the plugin so people can also add their own/custom scripts plus I'm adding a consent banner which will then use all the scripts in the gatsby config.

[2020-07-04 21:32] danny-waite commented on #18
ah ok great, thanks for the heads up Andre, let me know if I can help in any way, happy to test and provide feedback

[2020-07-17 08:37] marco910 opened #19 "GA user source always "Direct""
Hi,

I'm using this plugin with Google Analytics on my Gatsby-website. When a user entries the site for the first time the cookiebanner while be shown and the user have to choose whether he wants to accept or reject cookies. After the user selected one option the banner disapears and the page reloads (to call the onClientEntry hook) and there's my problem: Now I only see in Google Analytics, that

[2020-07-17 14:31] JesoloSanDonaBasket opened #20 "CHROME ISSUE | Mark cross-site cookies as Secure to allow them to be sent in cross-site requests"
![image](https://user-images.githubusercontent.com/58136642/87797405-eac2ee00-c84a-11ea-9169-e18b548b099c.png)

[2020-07-18 07:13] #18 closed

[2020-07-18 07:16] andrezimpel commented on #20
Thanks! This plugin is using universal-cookie. So when setting the cookie the required things are secure: true and sameSite: none?

[2020-08-07 19:46] ohlr opened #22 "Update react-ga dependency"
https://github.com/react-ga/react-ga/issues/412

related: https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/issues/20

[2020-08-07 20:28] ohlr opened #23 "GA-Autotrack"
I tried to setup autotrack with no success.

Maybe someone of you had more luck?

https://github.com/react-ga/react-ga/issues/40
https://ga-dev-tools.appspot.com/autotrack/
https://github.com/googleanalytics/autotrack/

[2020-08-18 10:08] danny-waite commented on #18
Just wondered how you were getting on with this Andre? I'm about to push a site live so need to come up with a solution :)

[2020-09-03 13:22] EduSantosBrito opened #24 "GTM is tracking without permission"
This package is building tag manager in `gatsby-ssr.js`, so when I enter my website the tag manager is already working, but that's not what I want, I need that user accept cookies first, then start tag manager.

A solution is:

use `react-gtm-module` (like `react-ga`) to initialize it.

so in `onClientEntry` you can add:

[code]

PS: I can't do this PR now, I'm out of time :(

[2020-09-11 12:43] trm217 opened #25 "Warnings in console when using Google Analytics"
I stumbled upon an issue with this plugin which causes warnings to be printed into the console.
This issue occurs once the user has given consent and the Google Analytics consent cookie has been set with a "true" value.
![image](https://user-images.githubusercontent.com/30313631/92926170-ed515680-f43b-11ea-95e7-d44defe1ef6a.png)
While this does not seem to break anything, it still isn't very nice.

[2020-09-13 11:58] phmasek commented on #4
@andrezimpel I implemented it the way you suggested using ReactGA. But I think it would be much more elegant if the plugin would expose the function itself as you propose. Great job with the plugin btw 👌🏻

[2020-09-30 00:35] richardvanbergen opened #26 "LinkedIn tracking codes?"
I have a use case for LinkedIn tracking. I'd be willing to submit a PR if it's something you would accept.

For now I'm just going to use this plugin as a template and add it directly into my Gatsby web project 😉

[2020-10-08 13:54] fabianwohlfart opened #27 "Send hit directly after cookie consent"
After the user hits the accept cookies button, how would I send the initial pageview to GA?
I understand your docs the way that only the next time on `onRouteUpdate` is called it would send a pageview?
(Or if the user again loads the page and `onClientEntry` is called)

Thanks

[2020-10-12 02:14] #26 closed

[2020-10-12 08:38] freesh commented on #24
I have the same Problem.

[2020-10-14 14:51] andrezimpel commented on #27
Thanks for using the plugin! Yes sir, currently it will only send the GA event if the window is reloaded. There will be an update this weekend where this issue will be resolved.

[2020-10-14 14:52] andrezimpel commented on #25
This will be fixed in an update by the end of the week.

[2020-10-14 14:53] andrezimpel commented on #24
Thanks for looking into this @freesh! Appreciate the help a lot! This will be added to the docs by the end of the week!

[2020-10-14 14:54] andrezimpel commented on #23
Hi @ohlr, how should this be implemented? It looks like the package is also no longer maintained.

[2020-10-14 15:39] fabianwohlfart commented on #27
Thank you. Looking forward!

[2020-10-14 17:56] andrezimpel commented on #27
The plugin will now check if cookies for Google Analytics or Facebook Pixel have been set between route changes on `onRouteUpdate`. Reloading the page after setting the cookies is not required anymore. (Version 1.0.9)

[2020-10-14 17:56] #27 closed

[2020-10-14 17:57] andrezimpel commented on #24
@EduSantosBrito Would you prefer the solution by @freesh?

[2020-10-14 17:58] andrezimpel commented on #12
The plugin will now check if cookies for Google Analytics or Facebook Pixel have been set between route changes on `onRouteUpdate`. Reloading the page after setting the cookies is not required anymore.

[2020-10-14 17:58] #12 closed

[2020-10-14 17:58] andrezimpel commented on #22
Done!

[2020-10-14 17:58] #22 closed

[2020-10-14 18:00] EduSantosBrito commented on #24
I didn't try that :D Thank you @freesh <3

[2020-10-14 18:00] #24 closed

[2020-10-14 19:16] andrezimpel commented on #20
@JesoloSanDonaBasket are you still having this issue? How are you setting the required cookies?

[2020-10-14 19:19] andrezimpel commented on #19
Hi @marco910 do you have an example for this?

[2020-10-14 19:21] andrezimpel commented on #13
Google Ads is currently not supported. How would the integration would look like? I'm investigating a way to add custom scripts like this.

[2020-10-14 19:36] andrezimpel commented on #5
This is now supported in v1.0.10. Could you verify that it's working as supposed?

[2020-10-14 19:36] #5 closed

[2020-10-14 19:43] JesoloSanDonaBasket commented on #20
Thank you @andrezimpel !! I got it solved but I didn't update it here.

[2020-10-14 19:43] #20 closed

[2020-10-15 08:15] fabianwohlfart commented on #27
Okay, I know understand that you fully use `onRouteUpdate`, but still: If the cookie is set by the user I need to track the page the user is currently at. With `onRouteUpdate` only the next page will be tracked, because `onRouteUpdate` for the current page already fired, isn't it?! So is there a way to track the current page, after the cookie is set?

[2020-10-15 08:54] marco910 commented on #19
Hi @andrezimpel !

Unfortunately, it is difficult to give a concrete example of this. But I can describe the issue more in detail.

On my Gatsby site I've integrated the gdpr-cookie-plugin in combination with my cookie-banner. This appears when the users visit the website. If the users accepts cookies, the GA-cookie will be set. Otherwise, only the cookie-banner diapers. But now I have to reload t

[2020-10-15 09:51] ohlr commented on #23
It's still in thier docs: https://ga-dev-tools.appspot.com/autotrack/ but I see your point

[2020-10-15 09:51] ohlr commented on #25
@trm217 is there a fix?

[2020-10-15 09:54] trm217 commented on #25
@ohlr I couldn't find one. I closed the issue since as stated above, this will be fixed in the next update.

[2020-10-15 09:57] ohlr commented on #25
Well, usually issues are closed after the fix is in place. Please reopen

[2020-10-15 10:19] andrezimpel commented on #25
@ohlr it has been fixed with the last version.

[2020-10-15 10:19] #25 closed

[2020-10-15 12:12] andrezimpel commented on #19
@marco910 The plugin does in fact try to initialize GA on every route update if the cookie is set to true (since v1.0.10). I'm still working on how to expose the initialization to the cookie banner so also just visiting one page and accepting the banner without a route update will trigger the event to be sent.

[2020-10-16 10:20] marco910 commented on #19
@andrezimpel I now have updated the plugin on my Gatsby site to v1.0.10 (it was still on v1.0.7) and removed the page reload when clicking on consent on the cookie banner. Now I will check if all works in production and the source is displayed in GA and give you feedback in a few days.

[2020-10-22 16:38] marco910 commented on #19
Hello @andrezimpel
As mentioned above I have removed the page reload when clicking a button on the cookie banner. After that the GA tracking didn't work. That's why I put it back in.
Do you have an idea why it isn't working?

[2020-11-02 11:53] zamson commented on #19
Any updates on this? Would be great if the tracking was initialised without a page refresh

[2020-11-06 00:36] fabianwohlfart commented on #27
Hey, any news on this?

[2020-11-06 06:39] andrezimpel commented on #27
@fabianwohlfart Actually working on it rn. I'm introducing a `initializeAndTrack` method to the plugin which can be used in the frontend. I'm just trying to figure out how to get the plugin options at this point.

[2020-11-09 08:29] tuk-solita commented on #27
This feature would be great. Keep us posted!

[2020-11-10 15:52] marco910 commented on #19
@zamson @andrezimpel I've set up a new Gatsby site with the plugin installed and a new Google Analytics 4 property to test the behavior. In development and production on Vercel I have tested it with a button to set the GDPR cookie - that worked. After a route update the GA cookies were set, but I didn't saw a user in the real time view of GA.

[2020-11-11 16:24] samOpenforce opened #28 "facebookPixel support"
Apologies, wrong repo.

[2020-11-12 09:27] #28 closed

[2020-11-17 12:08] aeneasr commented on #24
I don't really understand what needs to be done to disable Google Tag Manager. I would expect that no request to `gtm.js` is made unless the `cookieName` is set properly. That's however not the case right now! The cookie is simply ignored by `gatsby-plugin-gdpr-cookies` but I would expect it to have at least some impact?

[2020-11-23 19:24] oliverlambson commented on #27
Any more progress on this feature @andrezimpel? Do you have a recommendation for how to track the page hit in the meantime?

[2020-11-23 21:46] fabianwohlfart commented on #27
As we have React Ga and Universal Cookies packages installed by this plugin we can simply use them in a method, which we call anyway, when we set the cookie to true. We used this even though we know that hardcoding our tracking id and the name of the cookie may not be the best solution. Its a temporary solution.

[code]

[2020-11-24 13:57] oliverlambson commented on #27
Thanks!

In comparing your function to the plugin I noticed that the initial pageview you are sending in that function is not the same as the pageview the plugin would send: the plugin only sends the pathname and doesn't include the search string. Not an issue for me but just thought I'd point it out in case you were expecting the plugin to include the search string and it isn't.

[2020-11-29 21:38] Joshua-Flores opened #29 "Analytics not initializing after consent"
I'm using react-cookie-consent to set 'gatsby-gdpr-google-analytics' to true. However, I've noticed that once its set to true, google analytics isn't initialized and doesn't begin tracking until a page refresh or a  route change.

Any idea whats going on?

[2020-11-30 12:28] timoklok commented on #17
Hi, is there any progress on this?

[2020-12-01 10:01] ilyankou commented on #29
There was a lot of discussion about it (see #4 and #27), and we are waiting for @andrezimpel [to implement the feature](https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/issues/27#issuecomment-722905458)!

[2020-12-01 12:22] ahmadkhalaf1 opened #30 "i see no difference before consent and after .."
so after adding the config below , and adding the cookie value true or false , nothing really change , i can see that gtm is always loaded in my network even without consent , datalayer is also available , and data are passed to my GTM .
i am using react-cookie-consent to set gatsby-gdpr-google-tagmanager true
what am i doing wrong? i doubled check my cookie name is the same as the one in my brows

[2020-12-02 07:03] andrezimpel commented on #23
@ohlr I just released version 1.0.11 of the plugin. It now supports a initializeAndTrack method wich can be used in cookie banners. [See here](https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies#initialize-and-track)

[2020-12-02 07:04] #23 closed

[2020-12-02 07:04] andrezimpel commented on #29
It is now in version 1.0.11. [See here](https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies#initialize-and-track)

[2020-12-02 07:04] #29 closed

[2020-12-02 07:18] andrezimpel commented on #30
Dear @ahmadkhalaf1

thank you for the feedback. So basically GTM is working without giving the consent, right? I gotta have a look at this.

[2020-12-02 07:25] andrezimpel commented on #19
Hi @marco910 and @zamson

I just updated the plugin to expose a initializeAndTrack(location) method. Using this after setting the cookies should start tracking the user immediately without having to reload.

https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies#initialize-and-track

[2020-12-02 07:25] #19 closed

[2020-12-02 07:31] andrezimpel commented on #17
Hi @ronpearl & @timoklok

I'm currently investigating this because I also have to use Hotjar for a client. I'm not quite sure what the best option would be because the plugin should not allow any tracking before the user accepts it. Also most tracking services actually use multiple script tags wich javascript not only one with a source.

[2020-12-02 08:51] timoklok commented on #17
Although a generic solution is of course preferable, I'm personally also most interested in a Hotjar-implementation :-)

[2020-12-02 08:57] ahmadkhalaf1 commented on #30
Thanks for your reply:) so basically only gatsbyRouteChange event is
working after consent,  but beside this I have some other dataLayer events
, click events , scrolling , all these are passed to GTM without consent .

On Wed, Dec 2, 2020, 8:18 AM Andre Zimpel <notifications@github.com> wrote:

[2020-12-02 09:06] andrezimpel commented on #30
I‘m actually not using the tag manager for my projects. Would you mind doing a short screensharing session so I can see what’s going on? I might overhaul the tag manager integration and use the react-gtm package.

Sent from my iPhone

[2020-12-02 18:49] ilyankou commented on #29
Thank you so much @andrezimpel

[2020-12-02 21:21] Joshua-Flores commented on #29
You guys rock. Just implemented it. Seems to work great.

[2020-12-09 21:14] FlorianMarsch opened #31 "Does not work with Google Analytics 4"
Hi when I give consent then a analytics.js is loaded and used.

But with new GA4 its necessary to use gtag.js

[2020-12-16 11:10] barrynorman commented on #31
Hi @andrezimpel!

I have the same issue using your plugin.
Are you planning to upgrade your plugin? If I can help let me know.

Thanks

[2020-12-21 15:55] ahmadkhalaf1 commented on #30
sorry for late reply ,
sure we can have a zoom meeting and i can show you what i mean , because i also discovered a new issue related to the cookie , the cookie is removed from the browser if we close the tab , this mean that every time user close the tab and browser and open it again he will see the consent popup which is annoying , i dont know if thats how it meant to be or i am doing something

[2020-12-29 08:10] ghostinside commented on #31
same, should include gtag.js instead of analytics.js

[2020-12-29 09:09] ghostinside commented on #31
seems this lib use react-ga which does not support ga 4 yet

https://github.com/react-ga/react-ga/issues/460

[2020-12-29 10:07] barrynorman commented on #31
@ghostinside there is already a new package which should fix the problem: https://github.com/unrealmanu/ga-4-react

[2020-12-29 10:09] farynaio opened #32 "Without page refresh nothing change after cookie is set."
As described in title.

[2020-12-29 10:17] ghostinside commented on #31
yeh, but it needs to be added to this lib

[2020-12-29 10:22] barrynorman commented on #31
@ghostinside I can work on this. I didn't wanted to do anything before @andrezimpel replied.

[2020-12-30 23:15] pbrickles opened #33 "Remove console log"
I appear to get a `tracking analytics` log in the console after installing this plugin. Can we turn this off through setting (eg `disableLogOutput: true`)?

[2021-01-12 19:35] darcelvictor commented on #31
Hello, I have the issue do you know an alternative ?

[2021-01-12 22:07] nuttifox commented on #17
Is it possible to set some tracking scripts such as GA as core (required) so it tracks anomalously without the user clicking accept?

[2021-01-13 06:43] andrezimpel commented on #32
Hey @farynaio which version are you using? Because this should actually work. You have to follow these instructions: https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies#initialize-and-track.

[2021-01-13 06:44] andrezimpel commented on #33
Snap, thanks. Just removed it and will publish it today alongside the new version.

[2021-01-13 06:44] #33 closed

[2021-01-13 06:46] andrezimpel commented on #31
Working on this today. The new version will then also be related today, sorry for the inconvenience!

[2021-01-13 06:47] andrezimpel commented on #30
Hey @ahmadkhalaf1  sorry for getting back late. Could you send me an email to andre@unknownbasics.com so we can find a time for a call asap?

[2021-01-13 06:52] andrezimpel commented on #17
@nuttifox actually I don't think this is not GDPR-compliant. You should never track somebody unless they gave their consent. Anomalously should fall under that category as far as I know. If you do not ask for the consent you could easily use another library or Gatsby plugin.

Ps.: If you really _need_ to track users without giving their consent you could run your own analytics software (e.g. Matom

[2021-01-13 06:54] andrezimpel commented on #17
@timoklok, @ronpearl so the plugin should expose some configuration where you could add your own ssr and browser scripts? Would this make any sense? Just adding some source url will not work for all since some services will need ssr and you have to fire the track or init event in the browser.

[2021-01-13 07:02] andrezimpel commented on #31
@barrynorman feel free to open up a pull request if you already have a solution! :-)

[2021-01-14 21:34] panszczypior commented on #30
@andrezimpel same happened to me, I mean it starts to track even the user hasn't clicked decline or accept consent. Moreover as @ahmadkhalaf1 mentioned even if I click decline or accept it will constantly open the consent.

[2021-01-15 11:32] jenkin commented on #30
I have the same problem of @ahmadkhalaf1 : `ga` and `fb` work very well (without true cookies they don't set cookies or fire tracking requests), but `gtm` ignores settings, sets its cookies and fires events.

I think the problem is in this fragment inside the official gtm code snippet: `w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});`. This event is fired regardless the user choice.

[2021-01-18 13:57] RaphaelPI commented on #31
Hello here :)

Any updates on this ?

[2021-01-27 13:19] ahmadkhalaf1 commented on #32
@andrezimpel Hello , i think this initialize is new or i never saw it before , so today i tried it out , and for some reason its not working as expected , what am i doing wrong here?
[code]

[2021-02-05 09:40] andrezimpel commented on #32
@ahmadkhalaf1 Do you also see data being received? The scripts are being implemented ssr but should NOT send data - only include the script. I had to wrap my head around this with GA4 and gtag too.

[2021-02-05 09:57] andrezimpel commented on #31
Soooo... it took quite some time to wrap my head around GA4 and how it works and how to correctly implement it so it does not send any data to Google before the user actually accepts the consent. I published v1.0.12 with GA4 support couple minutes ago.

[2021-02-05 09:57] #31 closed

[2021-02-05 10:00] andrezimpel commented on #30
@jenkin got you. Thanks for the support. I am having a look at this right now. I had actually the same issue with GA4 which I was finally able to solve.

[2021-02-05 13:45] andrezimpel commented on #32
Duplicate of #30

[2021-02-05 13:45] #32 closed

[2021-02-15 11:09] FlorianMarsch commented on #31
works for me, thx

[2021-02-15 12:31] andrezimpel commented on #31
@FlorianMarsch glad to hear!

[2021-02-15 17:10] jenkin commented on #30
@andrezimpel have you any news?

[2021-02-16 14:20] alexhillel opened #36 "Page views recording twice with GA4"
I'm using version 1.0.12 with a Google Analytics 4 account, and the plugin seems to be working, except GA is recording all page views twice. This includes a first view fired by a call to `initializeAndTrack` following a cookie banner acceptance, and also through standard route changes. Only one visitor to the site is being recorded within the session, though.

My config looks like:

[code]

What m

[2021-02-22 12:41] andrezimpel opened #37 "Add types for Typescript"
🙏🏽

[2021-02-23 11:12] alexhillel commented on #36
Sorry, this was a logic error in the application - no actual issue!

[2021-02-23 11:12] #36 closed

[2021-02-27 13:02] axelra82 opened #38 "1.0.12 breaks with react 17.x"
**Works**
[code]
**While**
[code]
produces the following error:
[code]

Any suggestions for a quick fix? Tried adding 17.x to peerDependencies, didn't help:
[code]

[2021-02-28 06:44] andrezimpel commented on #38
I have a look at this!

[2021-03-03 09:35] gijsbotje opened #39 "support gatsby v3"
hi there,

Just so it is noted, you might already be working on it, but the current version of this plugin is marked as incompatible with gatsby v3.
So supporting v3 would be great :).

[2021-03-03 09:58] andrezimpel commented on #39
Dumb question, but how would you ensure it’s working in v2 & v3 packaging wise?

Im also working on a rewrite of the plugin (no breaking changes).

[2021-03-03 10:08] gijsbotje commented on #39
@andrezimpel I'm far from capable of answering that question :D i use the plugin and would like to upgrade to gatsby v3. The rewrite sounds interesting and might be the time to go further with v3 and drop v2.

[2021-03-03 11:28] andrezimpel commented on #39
@gijsbotje  Ah cool. Thanks for link. I will have a look at this and update the plugin accordingly. I will let you know when it's published to npm. (gonna have a look at this now)

[2021-03-03 11:30] gijsbotje commented on #39
@andrezimpel Great! kudos for the fast responses!

[2021-03-03 20:03] andrezimpel commented on #39
Just released 1.0.13 with v3 support!

[2021-03-03 20:04] #39 closed

[2021-03-03 20:04] andrezimpel commented on #38
This will be fixed in 2.0. You might wanna give 2.0 a test drive @axelra82?

[2021-03-03 20:06] andrezimpel commented on #30
@jenkin Sorry, I missed your last comment. I am about to finish 2.0 which is a complete rewrite. Nothing is every sent do Google or Facebook before the cookie es set and the plugin is initialized. Would you mind testing 2.0 out?

[2021-03-03 21:37] gijsbotje commented on #39
awesome! thanks @andrezimpel

[2021-03-03 21:48] axelra82 commented on #38
Will test this tonight or tomorrow morning and report back 👍

[2021-03-04 20:02] andrezimpel commented on #17
Quick update: I am rewriting the whole script. This should also allow to add custom services at some point!

[2021-03-04 23:36] highnoondev commented on #17
Awesome! And also I just wanted to say you did a great job at the Gatsby Conf 2021.

[2021-03-05 00:26] LiverpoolOwen commented on #39
Looks like there is a peer dependancy on React 16 but Gatsby v3 uses react 17 right? @andrezimpel

[2021-03-05 05:45] andrezimpel commented on #17
@highnoondev Thank you so so much!!!

[2021-03-05 06:31] andrezimpel commented on #39
Snap, you are right. Just published 1.0.14 with react 17 support. I removed react completely yesterday vor v2.

[2021-03-05 18:27] andrezimpel commented on #30
@panszczypior do you only have the trigger for the plugin in Tag Manager as described in the ReadMe or do you include all events?

[2021-03-08 15:01] axelra82 commented on #38
Sorry for the late reply... everything seems to be working fine now! 👍

[2021-03-08 15:01] #38 closed

[2021-03-12 16:33] LiverpoolOwen opened #40 "Pagespeed insights/ Core vitals issue"
Great work on the plugin,  I use it on all my sites.

I am working on my page speed due to the upcoming changes in google algorythm and I have run into a problem.
"Remove unused JavaScript to reduce bytes consumed by network activity. "
I guess we don't really need to load this script until the user has consented right?

![image](https://user-images.githubusercontent.com/4280944/110969060-28cbcf80

[2021-03-12 16:52] andrezimpel commented on #40
hey @LiverpoolOwen Thank you for the kind words! I will (finally) finish up v2 of the plugin. This issue will be resolved because gtag.js will not be included during ssr. Actually none of the tracking scripts will be included in the static html. You can have a look at the v2 branch - I still gotta do some cleanup tho.

[2021-03-12 17:03] frodeste commented on #17
Can we contribute to the work? I would like to see Twitter, Linkedin and Dynamics Markerting additions as well.

[2021-03-12 17:32] andrezimpel commented on #17
@frodeste sure thing!

[2021-03-13 08:22] frodeste commented on #17
Great. I have a developer that I can involve in this, and following your v 2 strukture, I think supporting more services should be easy.

[2021-03-13 09:09] andrezimpel commented on #17
Awesome! Yea my goals was to have a reusable approach how services are added. This could also be used for services that are defined in the gatsby-config.js.

[2021-03-13 09:41] frodeste commented on #17
I have created a fork to my repo, and added the core parts for Dynamics Marketing. I have asked my team to complete the work.

[2021-03-13 09:42] frodeste commented on #17
What else is need before v 2 is done @andrezimpel

[2021-03-13 10:32] frodeste commented on #17
A brief update. I moved the fork to our company https://github.com/ProsessPilotene/gatsby-plugin-gdpr-cookies to allow my team have full access..  @andrezimpel you have access as well now.

[2021-03-13 16:39] LiverpoolOwen commented on #40
Sure I will take a look mate.  if there is anything I can help with let me know.

[2021-03-13 17:33] andrezimpel commented on #40
Testing v2 would help a lot!

[2021-03-13 17:37] andrezimpel commented on #17
@frodeste, the remaining goal for v2 is to clean up the GTM service.

I have a look at your fork, thanks! There is a lot of duplicate code right now, so another goal (for v2.1) would be have a a single implementation which is only reading data from config. This would also make it way easier to implement other services.

I am also working on a consent banner.

[2021-03-14 19:16] frodeste commented on #17
I will talk to my team tomorrow and hopefully start to contribute to this project. Let us know how you are done on the architecture.

As to a consent banner.  Take a look at https://dev.gartnerhallen.no/. This is a consent banner that we recently finished for a client (and we are still working on the rest of the site.)

[2021-03-14 19:52] LiverpoolOwen commented on #40
sure, il have a play around with it on my site

[2021-03-15 09:13] frodeste commented on #17
We will start our work in about one weeks time.

[2021-03-17 16:39] jenkin commented on #30
Sorry @andrezimpel but also the latest version doesn't seem to work (see screenshot, the cookie bar is open, there is no cookie from this plugin, but facebook and ga start to tracking without problems).

I have to wait for next v2? Have you take a look to my [proposed fix](https://github.com/Dataninja/gatsby-plugin-gdpr-cookies/tree/hotfix/issue-30)?

My gatsby config.
[code]

![Screenshot_2021031

[2021-04-02 10:36] opr-inzn commented on #30
It doesn't seem to work for me either. onClientEntry it is off by default, if the user then accepts nothing changes and tracking is still off. The script at the beginning of the page always states: `<script>window['ga-disable-X-XXXXXXXXXX'] = true</script>`

I'm using it like the react-cookie-consent plugin like this:
[code]

[2021-04-06 17:55] laurenskling commented on #9
This is no longer true?

[2021-04-06 17:58] laurenskling opened #42 "Function to set the cookies to true"
This plugin does not do anything to set the cookies to `true`, correct?

Why not expose some functions to do so? There is a cookie package, we know the cookie names. Could simply export some functions to do all the work, only have to call those functions from whatever button in the site.

An idea?

[2021-04-14 05:57] andrezimpel commented on #42
The plugin currently does not support a consent banner as well. It just handles the integration of the services. I am working on a contest banner tho which will also support setting cookies with plain javascript.

Here is a reference for that: https://plainjs.com/javascript/utilities/set-cookie-get-cookie-and-delete-cookie-5/

[2021-04-14 05:57] #42 closed

[2021-04-14 05:57] andrezimpel commented on #40
@LiverpoolOwen any feedback yet?

[2021-04-14 05:57] #40 closed

[2021-04-14 05:59] andrezimpel commented on #30
@jenkin yes this is know for version 1. Just finishing up V2 as of writing this comment. Gonna publish it right now. It should resolve the issue.

[2021-04-14 05:59] #13 closed

[2021-04-15 21:54] bstrulak opened #44 "routeChangeEvent not fired?"
Hi,
II struggle to make google tag working for my site. I am using react-cookie-consent to set gatsby-gdpr-google-tagmanager true and this is working. However, it seems like routeChangeEvent is not fired as I don't see it in google tag assistant (Tag Manager Preview Mode). I have all the triggers in GTM set correctly - with official gatsby-plugin-google-tagmanager everything is working (except of

[2021-04-16 11:34] andrezimpel commented on #44
I gotta look into this. Which version are you using?

[2021-04-16 12:00] bstrulak commented on #44
I'm using version 2.0.0

[2021-04-16 12:12] andrezimpel commented on #44
Do you see any events being fired in your network tab?

[2021-04-18 13:31] spaudanjo opened #45 "Fix wrong param passing for GA"
In https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/blob/e921a038791108b7ab9174311cb0455e83af738f/src/services/index.js#L31, the `trackingId` is deconstructed already in the called method, so the whole options object should be passed in.

[2021-04-19 07:36] bstrulak commented on #44
How can I check this?

[2021-04-19 17:09] #45 closed

[2021-04-19 17:12] andrezimpel commented on #44
There is a section for this when you inspect the website.

<img width="1093" alt="Screen Shot 2021-04-19 at 19 11 30" src="https://user-images.githubusercontent.com/1418896/115276215-0e50f700-a143-11eb-9d9a-b973d2ab227e.png">

[2021-04-19 19:42] bstrulak commented on #44
I see there a list of resources (fonts, images, css files, js) not sure what to look for. There's also gtm.js?id=**** and ns.html?id=**** with my google tag id.

[2021-04-21 22:36] imadarai commented on #36
@alexhillel Can you elaborate on what logic error were you running into?  I'm having similar problem with the plugin and can't seem to figure out exactly why it's behaving that way.
Thought instead of using or building my a custom cookie notification, I'm using [Klaro](https://heyklaro.com/) and triggering the cookie `onAccept` & `onDecline` hooks.

[2021-04-21 22:39] alexhillel commented on #36
The plugin was registering a view on page load as I'd already accepted the banner previously - and I was also manually posting a second with the cookie banner form 'Accept' button.

[2021-04-22 06:41] imadarai opened #47 "Page Views firing twice"
I'm using `gatsby-plugin-gdpr-cookies` with combination of `gatsby-plugin-klaro`

I'm using klaro strictly as cookie-consent-manger and triggering functions (linked below) `onAccept` or `onReject`.  I also have event listeners on the button that trigger `initializeAndTrack(location);`
But I'm having this weird issue where google debugger is recording each route change as two page_views (see attach

[2021-04-22 06:43] imadarai commented on #36
Thanks @alexhillel for your prompt response.
I think my issue is originating from some other source.  Just opened an[ issue#47](https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/issues/47) to discuss it further.

[2021-05-13 16:33] jenkin commented on #44
Same here, `History` event is fired, but no `gatsbyRouteChange` event.

In attached screenshot you can see `dataLayer` content after first page load (all cookies are already set) and after a click on an internal link. It seems no `gatsbyRouteChange` event is pushed.

![Screenshot_20210513_182945](https://user-images.githubusercontent.com/426495/118156214-64028180-b419-11eb-8ba4-fa04ca8e9535.png)

[2021-05-13 16:34] jenkin commented on #30
@andrezimpel finally I implemented v2 and now all works fine, thanks!

[2021-05-14 08:51] jenkin commented on #44
@bstrulak Please not that if you want to use Google Analytics 4 (GA4) you can bind standard page view tracking to history changes in Advanced Measurement of your Data Stream. See https://support.google.com/analytics/answer/9216061. So tracking custom `gatsbyRouteChange` event is useless, because GA4 is smart enough to track page view also in a Single Page Application such as Gatsby website.

[2021-05-20 09:50] yepes commented on #17
Hi guys. Any update on this? Let's say I need to add a trackjs script, is it possible right now?

[2021-05-21 09:06] andrezimpel commented on #17
Hi @yepes it's not 100% done yet. But v2 of the plugin only needs some minor adjustments to support this. I keep you updated!

[2021-05-21 09:09] andrezimpel commented on #47
Hi @imadarai Thank you for using the plugin! Isn't this actually the desired behavior, to trigger a page view on entry and also when clicking the link to another page? Or are you seeing events fired although the cookies haven't been set yet?

[2021-05-21 09:09] andrezimpel commented on #30
@jenkin So this issue should be solved, right?

[2021-05-21 09:11] jenkin commented on #30
Yes!

[2021-05-21 09:13] #30 closed

[2021-05-22 08:42] axelra82 opened #50 "Google Analytics connection error"
While inspecting the console I noticed that there seems to be an issue with google analytics. Not 100% sure this is from GRDP cookies plugin, but not sure what else it could be and wanted to see if anyone else has had similar issues?

Both browsers are latest version on latest macOS 11.3.1.

**Chrome 90.0.4430.212**
`POST https://www.google-analytics.com/g/... net::ERR_CONNECTION_REFUSED`

**Safar

[2021-05-23 15:58] gabriardi commented on #44
@andrezimpel the code to initializeGoogleTagManager and trackGoogleTagManager is commented out. Is there a reason for it? Uncommenting it in makes the google tag manager work properly for me.

[2021-05-24 15:02] imadarai commented on #47
Hey @andrezimpel !
Thanks for your response.  I'm seeing two page_views per click (on menu).  Or every single time routeChange is triggered I see two views in Google Analytics Debugger.

[2021-05-26 20:47] axelra82 opened #51 "Facebook pixelId not working"
I've entered a Facebook pixel in the gatsby plugin settings (it's copied from Facebook, to ensure there are no typos).

I can't see the Facebook pixel code anywhere. I've tried both with production and development settings and only production.

In Facebook business manager I also get the notice that the pixel isn't active. The plugin simply doesn't seem to do anything with the pixelId.

After some

[2021-05-27 17:48] axelra82 commented on #51
From what I can tell the `getCookie(options.cookieName)` function is the issue. It's supposed to return "true", but gets null, but only for the Facebook pixel. I've tried different names, default name (i.e. not giving it a specific cookie name). Makes no difference, the return from `getCookie` is always null.

[2021-05-27 19:27] axelra82 commented on #51
# Solution

I use [react-cookie-consent](https://github.com/Mastermindzh/react-cookie-consent#props) for user consent and realized that the cookie name was coming from there.

Giving my cookies in GDPR plugin the same name, everything works fine. Since the GDPR plugin by itself doesn't set any cookie name, and I had two different cookie names in the plugin it would never match.

[code]

Not sure h

[2021-05-27 19:27] #51 closed

[2021-06-04 06:12] DamageSami opened #53 "Environments-option has no effect"
Hi, I am on version 2.0.0, and the environments-option in plugin config seems to have no effect.

I was running in development environment on my local machine, tested and tried out the plugin, and it seemed to work fine, so I removed the development -environment from the plugin config. But after restarting the process and a refresh, I still see that analytics and gtm is being loaded, on my browser

[2021-06-04 09:59] #50 closed

[2021-06-05 14:04] chssch commented on #17
Thanks for the plugin., If it's of interest for anybody else, I've added LinkedIn support here:
https://github.com/chssch/gatsby-plugin-gdpr-cookies
A general configurable system would be of course nice. Looking forward.

[2021-06-07 11:24] t-om opened #54 "Issue #45 has not been merged back into v2.0"
Hi, I have just tried to install and use this plugin with npm, but I believe it must be looking at the 2.0 branch because I had the error with GA passing options.trackingId despite the object being destructured in the method, as described and fixed in #45 and #46.

In the meantime I've just installed via `npm i andrezimpel/gatsby-plugin-gdpr-cookies#master`.

Thanks!

[2021-06-07 16:45] DalThePal commented on #47
I'm having a similar issue.  Upon loading the site, I am getting two page_views.  The first is a page_view on entry with page data absent, the second is a page_view with page data set as "/" as if the user had clicked on that route.  Is this intentional?

[2021-06-08 06:13] andrezimpel commented on #53
Looking into this!

[2021-06-08 06:14] andrezimpel commented on #54
Yea, I'm publishing 2.0.1 in a few!

[2021-06-08 06:55] andrezimpel commented on #53
Thank you for reporting! This was actually a bug. I'm releasing 2.0.1 right now which fixes the issue.

[2021-06-08 06:55] #53 closed

[2021-06-08 07:05] andrezimpel commented on #47
@DalThePal no, for sure! I unfortunately can see only one event being triggered. Can you publish a codepen or allow me access to a repo to reproduce this?

/cc @imadarai

[2021-06-08 07:07] andrezimpel commented on #44
@gabriardi yes. Because it was tracking events with just adding it to the DOM. Do you have 15 minutes to chat (screen share) about this?

[2021-06-08 07:07] #54 closed

[2021-06-08 08:03] gabriardi commented on #44
@andrezimpel sure. I am by no means an expert at this though

[2021-06-14 15:18] DalThePal commented on #47
@andrezimpel unfortunately I'm not able to share the repo but I was able to figure out why it is happening.
this snippet of code within `initializeGoogleAnalytics` is triggering a pageview because `'send_page_view': false,` is not present. https://developers.google.com/gtagjs/reference/api
[code]

`trackGoogleAnalytics` is then being called, sending the real pageview with the correct location data

[2021-06-24 16:40] andrezimpel commented on #47
@DalThePal wouldn't setting `'send_page_view': false` be an option too?

The method `initializeGoogleAnalytics` in fact should only initialize Analytics but not send a page view. I know `trackGoogleAnalytics` is called right after that but maybe someone is using the plugin / package in a different way and is not expecting initialize to send a page view too.

[2021-06-25 17:04] jjrchrds commented on #44
Was there any progress on this?

[2021-06-28 16:20] DalThePal commented on #47
@andrezimpel you're absolutely right.  I'll update my pr accordingly.

[2021-07-12 13:03] kapy9612 commented on #17
Is there any possibility to add SharpSpring integration to this plugin?
https://www.gatsbyjs.com/plugins/gatsby-plugin-sharpspring/

[2021-08-06 11:39] Alphavader opened #58 "Just wanted to say Thank you!! Very nice!!"

[2021-08-06 13:03] andrezimpel commented on #58
Thank YOU for using it! 🥰

[2021-08-06 13:03] #58 closed

[2021-08-18 08:56] ergunpp opened #61 "Google Tag Manager firing Google Analytics fails"
Hi,
I have installed everything as per documents for using Google Tag Manager. I have 2 tags set up, one for facebook pixel and the other for google analytics. When I test on tag assistant, both tags get fired on "Container Loaded" but firing status for google analytics is failed whereas facebook pixel shows succeeded.
Coudn't figure out the problem.
Appreciate help.
Thanks,

[2021-08-18 09:22] andrezimpel commented on #61
Is there maybe an issue with your Analytics implementation in Tag Manager? Do you have public url so I can see what's wrong?

[2021-08-18 09:41] ergunpp commented on #61
Hi,
The public url is beta.prochoice.com.tr.
the same tag is working fine on prochoice.com.tr (the old site that will be replaced)

[2021-08-26 21:14] mbcod3 opened #62 "How to track outbound links"
I am using gatsby-plugin-google-gtag. I opted for gatsby-plugin-gdpr-cookies so that google analytics only track when user gives permission but I was tracking outbound link with

`import { OutboundLink } from "gatsby-plugin-google-gtag"`

In closed issues a year someone said this plugin uses react-ga under the hood but it doesnt seem so.

How do I do that with gatsby-plugin-gdpr-cookies?

Thanks

[2021-09-06 16:14] #61 closed

[2021-09-21 14:39] fabiomaggio commented on #44
Same issue here too
@andrezimpel do you need any help on this?

[2021-10-14 09:40] kieranstartup opened #64 "Cross-domain Measurement"
Hey,

I'm using the plugin on a headless Shopify website and I need to set up cross-domain tracking so all of our analytics match up once the user goes from the customdomain.com to the checkout page which is hosted on customdomain.myshopify.com.

According to the [docs](https://support.google.com/analytics/answer/1034342?hl=en#zippy=%2Cin-this-article%2Csee-an-example-of-the-complete-code-snippet)

[2021-10-14 11:25] built-by-as opened #65 "Using initializeAndTrack without @reach/router"
Hello,

Is it possible to use initializeAndTrack without @reach/router? It is not compatible with react v17. Wondering if there's another third party library or built in Gatsby functionality I can use.

Thanks!

[2021-10-21 06:21] deodat opened #66 "When the user hits declined the tracking continues"
Hello,
I'm facing an issue when trying to implement the Decline function: the tracking continues whenever the user hits the "Decline" button (and it begins before the user accepts or declines).
Here's my Gatsby configuration:
[code]
and in my `Layout.js` component:
[code]

I don't know what I'm doing wrong here.

Thanks for any help on this!

[2021-10-22 10:35] bogdancss opened #67 "Support for Gatsby v4?"
We're in the process of upgrading to v4 and noticed this plugin has hard dependencies in place:

[code]

Is there any plans to update that?

[2021-10-22 12:01] jirsbek opened #68 "Any plans to support Gtag Consent mode?"
As stated on https://developers.google.com/tag-platform/devguides/consent?utm_source=pocket_mylist, Google Tag supports 2 consent attributes – `ad_storage` and `analytics_storage`.

I would be great, if by default GA was loaded with `denied` values. I believe this way GA still counts pageviews but not stores cookies.

[2021-10-25 07:11] #67 closed, assigned to nobody

[2021-10-30 09:54] arnars opened #70 "G tag code commented out?"
Thanks for this plugin. Made my life a lot easier.

I was looking at the GTAG code and I was wondering why the main methods were commented out. Is that on purpose or is it by mistake? It might be me that are misunderstanding how things works, but the other services seems to have the code active.

Best,
Anders

[2021-11-05 18:00] rburgst commented on #44
having the same issue here, I messed around with the code by commenting in https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/blob/master/src/services/google-tag-manager.js#L50 and I think its working then, without this it does not work.
@andrezimpel whats the status on this, do you need a PR?

[2021-11-08 18:39] deodat commented on #66
Hello @andrezimpel, sorry for the delay, I was on holydays :)
My repo is on Gitlab, do you have a profile there or an email address so I can give you access to it?
Thanks a lot!

[2021-12-02 18:19] kb1995 commented on #44
I'm just trying to integrate it as well, and I also noticed that routeChangeEvent is not working. Has anyone found a solution for this?

[2021-12-02 18:31] kb1995 commented on #70
@arnars Were you able to find a solution? Did you fork the repo or used another approach?

[2021-12-05 13:18] gabriardi commented on #70
I also don't understand why the code is commented out. @andrezimpel ? In fact i forked the repo to include the commented code and it works for me.

[2021-12-09 10:31] kb1995 commented on #70
@gabriardi I ended up doing the same thing (forked your fork) and it looks like it working fine now.

I wonder what's the reasoning behind the commenting out of a working code

[2021-12-09 10:48] andrezimpel commented on #70
@arnars & @gabriardi When I was testing the code I ended up receiving duplicate events because somehow gtag was ready to fire them trough the initialization. If both of you got it working by including it again I would be really happy if you could create a pull request. I'd merge it asap.

Thank you!

[2021-12-09 10:49] andrezimpel commented on #66
@deodat yea just use my GitHub email :-)

[2022-01-24 13:57] lomoien opened #73 "No script added to the head / body"
Hey, I'm trying to use this plugin so I can run  Google Analytics GDPR compliant. But somehow I can't get the plugin running. I installed it, added the code the the config file, edited the tracking ID, added the code to my page... But no matter what I do, I can't find any script tag containing the code for Google Analytics. Tried in production and in development...
Anyone having the same issue?

[2022-01-28 11:09] davidsotaabdd opened #74 "Add support for Microsoft Clarity"
I would like to see support for Microsoft's analytics platform:

[Microsoft Clarity](https://clarity.microsoft.com/)

[2022-02-01 15:32] #73 closed

[2022-04-13 06:40] Chompas opened #76 "Gtag not tracking any events - Transferred 0 B (0 B size)"
Hi,

I'm new to this plugin since before I was loading Gtag directly by myself.

I deployed it and I see the cookie appearing properly when I accept the banner and googletagmanager on the network activity but I don't see any events being tracked.

What seems odd is that the network event shows 0 b transferred (no ad blockers in the way) and then I see in the network response:

Request URL: https:/

[2022-04-17 14:14] aaadamgo opened #77 "Hubspot support"
I'm using `gatsby-plugin-gdpr-cookies` and `react-cookie-consent` together, as I've not found a better alternative for my gatsby project. However, the project require hubspot integration.

I'm using `gatsby-plugin-hubspot` for now, but I don't think this will help in the long run as I can't turn on/off the cookie from that plugin via my consent banner.

If hubspot was supported as part of the list

[2022-04-20 13:11] madmonkeyworks commented on #66
Hi,
same issue here.
I'm setting the gatsby-gdpr-google-tagmanager and gatsby-gdpr-google-analytics to false on user decline, but still see the ga cookies present, even on route change or reload.

[2022-04-20 20:36] gonzalo-massa commented on #70
Hi, I was affected by this issue too: Gatsby wasn't firing the routeChangeEvent event because all the code is commented, but by doing a little research, I think I know why this was commented and why  @andrezimpel was receiving duplicate events.

There is a new version of Google Analytics (GA4) that has an **Enhanced measurement** for Page views, and what it does is to detect changes on the browser

[2022-04-22 06:23] thibaultcrouzet opened #78 "Duplicate <title> Google Tag Manager"
When using Google Tag Manager an iframe is created white a header and a <title> meta.  Bad for SEO.

[2022-05-05 14:28] #44 closed

[2022-05-05 14:28] #47 closed

[2022-05-05 14:29] andrezimpel commented on #62
dear @mbcod3 it is not anymore since it did not support GA4. You should be able to use Analytics as if you were using a non-react page.

[2022-05-05 14:29] #62 closed

[2022-05-05 14:33] andrezimpel commented on #78
@thibaultcrouzet do you have an example for me?

[2022-05-05 14:34] andrezimpel commented on #77
@aaadamgo can you shoot me an info on how you would integrate Hubspot usually (outside of React/Gatsby)? I do not see why it should not work. :-)

[2022-05-05 14:34] andrezimpel commented on #76
@Chompas have you been able to resolve your issue?

[2022-05-05 19:25] gonzalo-massa commented on #70
My suggestion is to give the developer the control over this, if they want to fire the routeChangeEvent or not, maybe setting `routeChangeEvent: false` (or an empty string to maintain consistency with the rest of the options). Then the plugin will check that before firing the event.

I could try to submit a PR for that, but I don't know the code very well.

[2022-05-06 08:41] facundofarias opened #79 "Allow to read settings from localStorage instead of a Cookie"
**Is your feature request related to a problem? Please describe.**
While configuring which services to load, it would be nice to be able to choose between localStorage and Cookies (we almost no use them).

**Describe the solution you'd like**
Maybe it could be part of the settings such as cookieName or localStorageName

**Describe alternatives you've considered**
For the time being, we are storing

[2022-05-20 10:03] sandradeb opened #80 "Cookie Security"
**Is your feature request related to a problem? Please describe.**
I don't see any security settings like SameSite "strict", Set-Cookie "Secure", etc. in the documentation.
Is there any way to secure cookies with "gatsby-plugin-gdpr-cookies" ?

**Describe the solution you'd like**
Ex: cookieFlags: 'secure;samesite=none'

Thank you!

[2022-05-26 10:40] redasalmi opened #81 "Disable PageView event per default for tiktok and facebook pixel"
**Is your feature request related to a problem? Please describe.**
Is there any particular reason to trigger the `window.fbq('track', 'PageView')` event inside of the `trackTikTokPixel` function ?

https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/blob/02ce0e6aed6277b34041c6f9ca662ec26abad752/src/services/tiktok.js#L35-L44

**Describe the solution you'd like**
It would be really helpful to

[2022-06-15 10:35] willmcl opened #83 "Documentation error on linkedin default cookie name"
The documentation says the default linkedin plugin name is `gatsby-gdpr-linked-in` but this does not work.

The default options file here ( https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/blob/master/src/default-options.js ) says it should be `gatsby-gdpr-linkedin`

When I set my cookie with that name it all worked.

[2022-07-06 07:47] adrian-goe opened #85 "Support react 18"
**Is your feature request related to a problem? Please describe.**
I updated my homepage project and noticed this message:

[code]

**Describe the solution you'd like**
support react 18

[2022-07-19 07:30] jonathanrosenbaum opened #86 "Low Bounce rates on GA dashboard"
**Describe the bug**
Bounce rates in GA dashboard are showing as too low ie less than 1%.

**To Reproduce**
Steps to reproduce the behavior:
Add this snippet as per instructions. Config shouldn't matter as long as GA has been enabled.
Set cookie for google analytics as stated in read me ensure that cookie expiration date is set so that it won't be invalidated between refreshes.

Reload page. On al

[2022-07-19 07:36] jonathanrosenbaum opened #87 "Provide extra option to GA config to prevent duplicate requests on page load"
**Describe the bug**

https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies/issues/86

Problem
Bounce rates are too high in GA dashboard due to duplicate page view events on page load.

Fix
Provide the option to utilise the 'send_page_view' param to disable the first request.
 https://developers.google.com/analytics/devguides/collection/gtagjs/pages

Code Changes Required
/services/google-anal

[2022-09-19 07:29] klyngen opened #88 "This will not work in production"
There are some big issues with this plugin and I want to help you guys.

1. lodash merge that makes it impossible to override environments
[code]

2. Environment-variables that will never exist:

[First read this ](https://www.gatsbyjs.com/docs/how-to/local-development/environment-variables/#client-side-javascript)
Then understand that the environment variables will not be available in prod. proce

[2022-10-20 07:46] RectoVersoDev commented on #85
Hi, any update on this ? 👀

[2022-11-15 22:29] enmalidia opened #93 "Gatsby v5 campatibility"
**Describe the bug**
I've updated to Gatsby v5 and now I'm getting "Plugin gatsby-plugin-gdpr-cookies is not compatible with your gatsby version 5.0.1 - It requires gatsby@^2.24.77 || ^3.0.0 || ^4.0.0" This plugin isn't compatible?

 "gatsby-plugin-gdpr-cookies": "^2.0.9",
 "react": "^18.2.0",
 "gatsby": "^5.0.1",